<html>
    <head>
		<meta charset="utf-8">
		<title>Game Valera</title>
		
        <style>
            p {
                color: red;
                text-align: center;
                font-size: 18pt;
                font-weight: bold;
                text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
                            #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
                            #cad5e2 5px 5px 0;
            }

            h2 {
                font-weight: bold;
                font-size: 32pt;
                text-align: center;
                text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
                            #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
                            #cad5e2 5px 5px 0;
            }
            button {
                    padding: 1em 3em;
                    border: 3px solid #4A90E2;
                    transition: all 300ms ease;
                     box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
            }

            button:before {
                    position: absolute;
                    content: '';
                    width: 0%;
                    height: 100%;
                    background: #4A90E2;
                    top: 0;
                    left: 50%;
                    z-index: -1;
                    transition: all 0ms ease;
            }
            button:hover {
                color: white;
                box-shadow: none;
            }
        </style>
	</head>

<% name = current_user.present? ? current_user.name : 'Stranger'%>
<h6 align="center", class="nav-item">
    <h>Valera Life Stats:</h>
    <p>Health: <progress class="health-roll" value="<%= current_user.health %>" max="100"></progress><p> 
    <p>Mana: <progress class="mana-roll" value="<%= current_user.mana %>" max="100"></progress><p>
    <% if current_user.happiness.positive? or current_user.happiness.zero?%>
        <p>Happiness: <progress class="happiness1-roll" value="<%= current_user.happiness %>" max="10"></progress><p>
    <%end%>
    <% if current_user.happiness.negative? %>
        <p>Sadness: <progress class="happiness2-roll" value="<%= current_user.happiness.abs %>" max="10"></progress><p>
    <%end%>
    <p>Fatique: <progress class="fatigue-roll" value="<%= current_user.fatigue %>" max="100"></progress><p>
    <p>Money: <%= current_user.money %>₽<p>
</h6>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info" align = "center">
        <%= msg %>
      </div>
    <% end %>
<h6 align="center", class="nav-item">
        <button><%= link_to 'New Game', new_game_path, method: :new_game, class: "link"%></button>
        <% if !@is_lose %>
            <button><%= link_to "Save Game", new_slot_path, class: "link" %></button>
        <% end %>
        <button><%= link_to "Load Game", slots_path, class: "link" %></button>
    <li><%= link_to 'Go Job', go_job_path, class: "link", method: :go_job if !@is_lose %></li>
    <li><%= link_to 'Contemplate nature', contemplate_nature_path, class: "link", method: :сontemplate_nature if !@is_lose%></li>
    <li><%= link_to 'Drink wine and watch TV series', drink_wine_and_watch_tv_series_path, class: "link", method: :drink_wine_and_watch_tv_series if !@is_lose%></li>
    <li><%= link_to 'Go to the bar', go_to_the_bar_path, class: "link", method: :go_to_the_bar if !@is_lose%></li>
    <li><%= link_to 'Drink with marginal people', drink_with_marginal_people_path, class: "link", method: :drink_with_marginal_people if !@is_lose%></li> 
    <li><%= link_to 'Sing in the subway', sing_in_the_subway_path, class: "link", method: :sing_in_the_subway if !@is_lose%></li>
    <li><%= link_to 'Sleep', sleep_path, class: "link", method: :sleep if !@is_lose%></li>
</h6> 

