<% name = current_user.present? ? current_user.name : 'Stranger'%>
<h>GAME GAME GAME</h>
<p>Health: <%= current_user.health %><p>
<p>Mana: <%= current_user.mana %><p>
<p>Happines: <%= current_user.happiness %><p>
<p>Fatique: <%= current_user.fatigue %><p>
<p>Money: <%= current_user.money %>$<p>
<li class="nav-item">
    <li><%= link_to 'New Game', new_game_path, method: :new_game %></li>
</li>
<li class="nav-item">
    <li><%= link_to 'Go Job', go_job_path, method: :go_job %></li>
</li>